<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cancel_order_listing_data_source" xsi:type="string">TUTJunior\CancelOrder\Model\ResourceModel\CancelOrder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TUTJunior\CancelOrder\Model\ResourceModel\CancelOrder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cancel_order</argument>
            <argument name="resourceModel" xsi:type="string">TUTJunior\CancelOrder\Model\ResourceModel\CancelOrder</argument>
        </arguments>
    </virtualType>
    <preference for="TUTJunior\CancelOrder\Api\ProductRepositoryInterface" type="TUTJunior\CancelOrder\Model\Api\ProductRepository"/>
    <preference for="TUTJunior\CancelOrder\Api\RequestItemInterface" type="TUTJunior\CancelOrder\Model\Api\RequestItem"/>
    <preference for="TUTJunior\CancelOrder\Api\ResponseItemInterface" type="TUTJunior\CancelOrder\Model\Api\ResponseItem"/>

    <preference for="TUTJunior\CancelOrder\Api\OrderHistoryRepostoryInterface" type="TUTJunior\CancelOrder\Model\Api\OrderHistoryRepostory"/>
    <preference for="TUTJunior\CancelOrder\Api\RequestOrderInterface" type="TUTJunior\CancelOrder\Model\Api\RequestOrder"/>
    <preference for="TUTJunior\CancelOrder\Api\ResponseOrderInterface" type="TUTJunior\CancelOrder\Model\Api\ResponseOrder"/>
</config>
